<div [class.mark]="touched" class="flex flex-col">
  <form class="flex flex-col form-container gap-4" [formGroup]="taskGroup">
    <mat-form-field class="flex flex-col form-field">
      <mat-label for="name">Name:</mat-label>
      <input matInput class="form-input" type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="flex flex-col form-field">
      <mat-label for="description">Description:</mat-label>
      <textarea
        matInput
        class="form-input"
        type="text"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <div class="flex gap-4">
      <button
        mat-raised-button
        type="button"
        class="edit-btn"
        (click)="!taskGroup.enabled ? edit() : saveChanges()"
      >
        {{ !taskGroup.enabled ? "Edit" : "Save" }}
      </button>
      <button
        *ngIf="taskGroup.enabled"
        mat-raised-button
        type="button"
        class="edit-btn"
        (click)="exit()"
      >
        Exit
      </button>
    </div>

    <p *ngIf="taskGroup.errors && taskGroup.errors['error']">
      {{ taskGroup.errors["error"] }}
    </p>
  </form>
</div>
