<div class="avatar-wrapper">
  <img
    *ngIf="_avatarUrl"
    [src]="_avatarUrl"
    alt="Avatar"
    [ngClass]="{
      'big-image': location === 'profile',
      'small-image': location === 'chat' || location === 'sidebar'
    }"
    class="avatar"
  />
  <div
    *ngIf="!_avatarUrl"
    style="background-color: black"
    [ngClass]="{
      'big-image avatar': location === 'profile',
      'small-image avatar': location === 'chat' || location === 'sidebar'
    }"
  ></div>
  <span
    *ngIf="location === 'chat'"
    class="status-indicator"
    [ngClass]="{ online: is_online, offline: !is_online }"
  ></span>
</div>
<div *ngIf="location === 'profile'" class="upload-form">
  <button class="upload-btn" for="single">
    {{ uploading ? "Uploading ..." : "Upload" }}
  </button>
  <input
    style="visibility: hidden; position: absolute"
    type="file"
    id="single"
    accept="image/*"
    (change)="uploadAvatar($event)"
    [disabled]="uploading"
  />
</div>
