<div>
  <img
    *ngIf="_avatarUrl"
    [src]="_avatarUrl"
    alt="Avatar"
    [ngClass]="{
      'avatar big-image': location === 'profile',
      'small-image avatar': location === 'chat' || 'sidebar'
    }"
  />
</div>
<div
  *ngIf="!_avatarUrl"
  class="avatar no-image"
  style="avatar image background-color: black"
></div>
<div *ngIf="location === 'profile'" class="upload-form">
  <button class="upload-btn" for="single">
    {{ uploading ? "Uploading ..." : "Upload" }}
  </button>
  <input
    style="visibility: hidden; position: absolute"
    type="file"
    id="single"
    accept="image/*"
    (change)="uploadAvatar($event)"
    [disabled]="uploading"
  />
</div>
