.avatar {
  border-radius: 999px;
  border: 2px solid var(--slate-700);
  height: auto;
}

.big-image {
  width: 10em;
}

.small-image {
  width: 2em;
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
