.avatar {
  border-radius: 999px;
  border: 2px solid var(--slate-700);
}

.big-image {
  width: 10em;
  height: 10em;
}

.small-image {
  width: 2em;
  height: 2em;
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-wrapper {
  position: relative;
}

.status-indicator {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white; /* To make it stand out against the avatar background */
  z-index: 2;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.upload-btn {
  padding: 0.2em 0.4em;
  background-color: var(--lavender-web);
  border-radius: 8px;
  border: 1.5px solid var(--slate-900);
  font-size: 1.4em;
  font-weight: 700;
  border: 2px solid var(--slate-700);
}

.upload-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid var(--slate-950);
}
