.avatar {
  border-radius: 999px;
  border: 2px solid var(--slate-700);
  height: auto;
}

.big-image {
  width: 10em;
}

.small-image {
  width: 2em;
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-wrapper {
  position: relative;
}

.status-indicator {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white; /* To make it stand out against the avatar background */
  z-index: 2;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
