<div>
  <img
    *ngIf="_avatarUrl"
    [src]="_avatarUrl"
    alt="Avatar"
    class="avatar image"
  />
</div>
<div
  *ngIf="!_avatarUrl"
  class="avatar no-image"
  style="height: 150px; width: 150px; background-color: black"
></div>
<div class="upload-form">
  <button class="upload-btn" for="single">
    {{ uploading ? "Uploading ..." : "Upload" }}
  </button>
  <input
    style="visibility: hidden; position: absolute"
    type="file"
    id="single"
    accept="image/*"
    (change)="uploadAvatar($event)"
    [disabled]="uploading"
  />
</div>
