<div class="flex flex-col">
  <h1>Chat</h1>
  <div class="flex flex-col gap-4 chat-container">
    <div class="messages">
      <ng-container *ngIf="messages.length > 0; else noMessages">
        <div class="message" *ngFor="let message of messages">
          <strong>{{ message.username }}:</strong> {{ message.content }}
        </div>
      </ng-container>
      <div class="typing-indicator" *ngIf="isUserTyping">
        <span class="description">{{ typingUser }} is typing</span>
        <div class="dots">
          <div class="dot"></div>
          <div class="dot" style="animation-delay: 0.1s"></div>
          <div class="dot" style="animation-delay: 0.2s"></div>
        </div>
      </div>
      <ng-template #noMessages>
        <p class="description">Chat is empty :(</p>
      </ng-template>
    </div>
    <div class="textarea-container">
      <textarea
        class="new-message"
        [(ngModel)]="newMessageContent"
        (keyup.enter)="sendMessage()"
        (input)="onTextareaInput($event)"
        placeholder="Type a message..."
        maxlength="280"
      ></textarea>
      <div class="character-counter">
        {{ 280 - newMessageContent.length }} characters left
      </div>
    </div>
    <button (click)="sendMessage()">Send</button>
    <button (click)="clearMessages()">Clear Messages</button>
  </div>
</div>
