<div class="flex flex-col">
  <h1>Chat</h1>
  <div class="flex flex-col gap-4 chat-container">
    <button *ngIf="messages.length > 0" (click)="loadMore()">Load More</button>
    <div class="messages" #messageHistory>
      <loading-spinner *ngIf="messagesLoading"></loading-spinner>

      <ng-container *ngIf="messages.length > 0; else noMessages">
        <div class="message" *ngFor="let message of messages">
          <div class="flex">
            <div class="flex gap-4">
              <app-avatar
                location="chat"
                [avatarUrl]="message.profile_pic"
                [is_online]="userOnlineStatuses[message.authorId]"
              ></app-avatar>
              <strong>{{ message.username }}:</strong>
            </div>
            <p>
              {{ message.content }}
            </p>
          </div>
        </div>
      </ng-container>
      <div class="typing-indicator" *ngIf="isUserTyping">
        <span class="">{{ typingUser }} is typing</span>
        <div class="dots">
          <div class="dot"></div>
          <div class="dot" style="animation-delay: 0.1s"></div>
          <div class="dot" style="animation-delay: 0.2s"></div>
        </div>
      </div>
      <ng-template #noMessages>
        <p class="description">Chat is empty :(</p>
      </ng-template>
    </div>

    <div class="textarea-container">
      <textarea
        class="new-message"
        [(ngModel)]="newMessageContent"
        (keyup.enter)="sendMessage()"
        (input)="onTextareaInput($event)"
        placeholder="Type a message..."
        maxlength="280"
      ></textarea>
      <div class="character-counter">
        {{ 280 - newMessageContent.length }} characters left
      </div>
    </div>
    <button (click)="sendMessage()">Send</button>
    <button (click)="clearMessages()">Clear Messages</button>
  </div>
</div>
<ng-container #messageContainer></ng-container>

<ng-template #messageTemplate let-message>
  <div class="message-notification">
    <p>
      {{ message }}
    </p>
  </div>
</ng-template>
