.form-container {
  width: 100%;
}

.tasks-container {
  flex-wrap: wrap;
  flex-direction: row;
}

.form-field {
  width: 80%;
}

.form-input {
  padding: 0.2em 0.4em;
  width: 50%;
  border-radius: 4px;
  font-size: 1.2em;
}

textarea.form-input {
  resize: none;
  min-height: 100px;
}
#tasks {
  width: 60%;
}
