<div class="flex flex-col gap-4">
  <h2>My tasks</h2>
  <form
    class="flex flex-col form-container gap-4"
    [formGroup]="newTask"
    (ngSubmit)="addTask()"
  >
    <mat-form-field class="flex flex-col form-field">
      <mat-label>Name:</mat-label>
      <input matInput class="form-input" type="text" formControlName="name" />
      <div
        *ngIf="
          newTask.controls['name'].invalid && newTask.controls['name'].touched
        "
        class="error-message"
      >
        Name is required.
      </div>
    </mat-form-field>
    <mat-form-field class="flex flex-col form-field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        class="form-input"
        type="text"
        formControlName="description"
      >
      </textarea>
      <div
        *ngIf="
          newTask.controls['description'].invalid &&
          newTask.controls['description'].touched
        "
        class="error-message"
      >
        Description is required.
      </div>
    </mat-form-field>
    <div class="flex gap-4">
      <button mat-raised-button type="submit">Add</button>
      <button mat-raised-button type="button" (click)="clearTasks()">
        Clear
      </button>
    </div>
  </form>

  <hr />
  <h2>Added Tasks</h2>
  <div class="flex tasks-container gap-4" id="tasks">
    <div class="task-item" *ngFor="let task of myAddedTasks">
      <single-task [formControl]="task"></single-task>
    </div>
  </div>

  <button mat-raised-button (click)="addedTasksStateCheck()">
    check state of added tasks
  </button>
</div>
