<form
  [formGroup]="updateProfileForm"
  (ngSubmit)="updateProfile()"
  class="profile-form flex flex-col gap-4"
>
  <app-avatar
    [location]="'profile'"
    [avatarUrl]="this.avatarUrl"
    (upload)="updateAvatar($event)"
  >
  </app-avatar>

  <div class="flex flex-col form-item gap-4">
    <label for="email">Email</label>
    <input
      class="form-input"
      id="email"
      type="text"
      [value]="session.user.email"
      disabled
    />
  </div>
  <div class="flex flex-col form-item gap-4">
    <label for="username">Username</label>
    <input
      class="form-input"
      formControlName="username"
      id="username"
      type="text"
    />
  </div>
  <div class="flex flex-col form-item gap-4">
    <label for="full_name">Full Name</label>
    <input
      class="form-input"
      formControlName="full_name"
      id="full_name"
      type="text"
    />
  </div>
  <div class="flex flex-col form-item gap-4">
    <label for="is_online">Online Status</label>
    <select class="form-input" formControlName="is_online" id="is_online">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>

  <div class="flex gap-4">
    <button type="submit" class="button primary block" [disabled]="loading">
      {{ loading ? "Loading ..." : "Update" }}
    </button>

    <button class="button block" (click)="signOut()">Sign Out</button>
  </div>
</form>
