<div class="flex flex-col flex-wrap">
  <h2 class="title">Welcome</h2>
  <p class="description">What are you craving?</p>
  <div class="flex flex-col">
    <div class="flex">
      <div class="categories" *ngFor="let category of categories">
        <button (click)="getCategory(category)">{{ category }}</button>
      </div>
    </div>
    <div *ngIf="_isMenuLoading$ | async; else MenuItems">
      <loading-spinner></loading-spinner>
    </div>

    <ng-template #MenuItems>
      <div class="flex">
        <div class="food-item" *ngFor="let item of menu" highlightOnOrder>
          <p class="food-title">{{ item.name }}</p>
          <p class="food-title">{{ item.price }} $</p>
          <div class="flex gap-4">
            <select
              class="food-select"
              [(ngModel)]="orderAmounts[item.id]"
              [name]="'orderAmount' + item.id"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <button (click)="addToCart(item)">
              {{ item.isOrdering ? "Adding" : "Order" }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="flex flex-col">
      <h3>Orders in Cart: {{ cart ? cart.length : "Loading..." }}</h3>
      <button class="route" routerLink="/orders" routerLinkActive="active">
        Open your cart
      </button>
    </div>
  </div>
</div>
