.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: var(--cool-gray);
  padding: 1em 0.3em;
  height: 100%;
  min-height: 100vh;
  font-size: 1.6em;
  gap: 1em;
  border-right: 2px solid var(--slate-700);
}

.route {
  cursor: pointer;
  position: relative;
  display: inherit;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 0.3em;
  transition: border-radius 0.2s ease-in-out; /* Updated this line */
}

.route:hover {
  border-radius: 5px;
}

.route::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-60%); /* Start slightly higher */
  opacity: 0; /* Start fully transparent */
  background-color: black;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  transition: opacity 0.3s, transform 0.3s; /* Animate opacity and position */
  pointer-events: none; /* Prevents the tooltip from being clickable */
  font-size: 0.5em;
}

.route:hover::after {
  opacity: 1; /* Fully visible */
  transform: translateY(-50%); /* Move to final position */
}

.route.active {
  background-color: var(--pale-purple);
}

.route:not(.active) svg:hover path,
.route:not(.active) svg:hover circle,
.route:not(.active) svg:hover polyline {
  stroke: var(--slate-500) !important;
}

.route.active svg path,
.route.active svg circle,
.route.active svg polyline {
  stroke: var(--slate-700) !important;
}
