<form (ngSubmit)="getWeather(location)">
  <input
    type="text"
    [(ngModel)]="location"
    name="location"
    placeholder="Get Weather For..."
  />
  <button [disabled]="location.length === 0" type="submit">Get Weather</button>
</form>
<div class="grid-container" *ngIf="weatherData.length > 0" else #empty>
  <div class="report" *ngFor="let prognosis of weatherData">
    <h3>{{ prognosis.location }}</h3>
    <p>{{ prognosis.temp }}</p>
    <span>Temp:{{ prognosis.temp }}</span>
    <p>Max Temp:{{ prognosis.max_temp }}</p>
    <p>Wind Speed:{{ prognosis.wind_speed }}</p>
    <p>Humidity:{{ prognosis.humidity }}</p>
  </div>
</div>

<ng-template empty>
  <h3>No Weather Data for today</h3>
</ng-template>
