<div class="flex-col">
  <form class="flex-col-form" (ngSubmit)="addTask(task)">
    <input
      id="tasks"
      class="todo-input"
      type="text"
      name="task"
      placeholder="What needs doing"
      [(ngModel)]="task"
    />
    <button [disabled]="task.length == 0">Add</button>
  </form>
  <div class="flex-row-main">
    <div
      class="tasks-section"
      cdkDropList
      [cdkDropListData]="tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <h1>Tasks</h1>
      <div class="flex-row" *ngFor="let task of tasks" cdkDrag>
        <span class="delete" (click)="markCompleted(task.id)">
          <svg
            width="2em"
            viewBox="0 0 2048 2048"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="green"
              d="M1024 0q141 0 272 36t244 104t207 160t161 207t103 245t37 272q0 141-36 272t-104 244t-160 207t-207 161t-245 103t-272 37q-141 0-272-36t-244-104t-207-160t-161-207t-103-245t-37-272q0-141 36-272t104-244t160-207t207-161T752 37t272-37m603 685l-136-136l-659 659l-275-275l-136 136l411 411z"
            />
          </svg>
        </span>
        <span class="task">{{ task.content }}</span>
      </div>
    </div>
    <div
      class="completed-section"
      cdkDropList
      [cdkDropListData]="completed"
      (cdkDropListDropped)="drop($event)"
    >
      <h1>Completed</h1>
      <div class="flex-row" *ngFor="let task of completed" cdkDrag>
        <span class="delete" (click)="removeTask(task.id)">
          <svg
            width="2em"
            viewBox="0 0 17 17"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="red"
              fill-rule="evenodd"
              d="m12.566 8l3.045-3.044c.42-.421.42-1.103 0-1.522L12.566.389a1.078 1.078 0 0 0-1.523 0L7.999 3.433L4.955.389a1.078 1.078 0 0 0-1.523 0L.388 3.434a1.074 1.074 0 0 0-.001 1.522L3.431 8L.387 11.044a1.075 1.075 0 0 0 .001 1.523l3.044 3.044c.42.421 1.102.421 1.523 0l3.044-3.044l3.044 3.044a1.076 1.076 0 0 0 1.523 0l3.045-3.044c.42-.421.42-1.103 0-1.523z"
            />
          </svg>
        </span>
        <span class="task completed-task">{{ task.content }}</span>
      </div>
    </div>
  </div>
</div>
