.form-card {
  margin-inline: auto;
  width: fit-content;
  padding: 1em;
}

mat-form-field {
  margin-bottom: 3em !important;
}

.review-slider {
  width: 80%;
}
.review-submit {
  margin-left: auto;
}
