.form-container {
  width: 100%;
}

.form-input {
  padding: 0.2em 0.4em;
  width: 50%;
  border-radius: 4px;
  font-size: 1.2em;
}
#tasks {
    width: 60%;
}
#tasks .task-item {
    width: 100%;
}

.btn-container {
  align-items: stretch;
}

.btn-container button {
  flex-grow: 1;
}
