<app-account *ngIf="session; else LogInForm" [session]="session"></app-account>

<ng-template #LogInForm>
  <div
    *ngIf="location === 'auth'"
    class="flex flex-col gap-4"
    aria-live="polite"
  >
    <p class="description">Sign in via magic link with your email below</p>
    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit('magicLink')"
      class="auth-form gap-4 flex flex-col"
    >
      <div class="form-item">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          class="form-input"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <div class="flex gap-4">
          <input
            id="password"
            formControlName="password"
            class="form-input"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter Your password"
          />
          <button type="button" (click)="togglePasswordVisibility()">
            {{ showPassword ? "Hide" : "Show" }}
          </button>
        </div>
      </div>
      <div class="flex gap-4">
        <button
          (click)="onSubmit('signIn')"
          type="submit"
          class="button block"
          [disabled]="loading"
        >
          {{ loading ? "Loading" : "Sign In" }}
        </button>
        <button type="submit" class="button block" [disabled]="loading">
          {{ loading ? "Loading" : "Send magic link" }}
        </button>
      </div>
    </form>
    <p class="description">Don't Have an account?</p>
    <button class="end" (click)="navigateTo('register')">Sign up</button>
  </div>
  <!-- Register Form -->
  <div
    *ngIf="location === 'register'"
    class="flex flex-col gap-4"
    aria-live="polite"
  >
    <p class="description">Sign in via magic link with your email below</p>

    <p class="title">Sign Up</p>
    <form [formGroup]="signInForm" class="auth-form gap-4 flex flex-col">
      <div class="form-item">
        <label for="username">Name</label>
        <input
          id="username"
          formControlName="username"
          class="form-input"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="form-item">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          class="form-input"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <div class="flex gap-4">
          <input
            id="password"
            formControlName="password"
            class="form-input"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter Your Password"
          />
          <button type="button" (click)="togglePasswordVisibility()">
            {{ showPassword ? "Hide" : "Show" }}
          </button>
        </div>
      </div>
      <div>
        <button
          (click)="onSubmit('signUp')"
          type="submit"
          class="button block"
          [disabled]="loading"
        >
          {{ loading ? "Loading" : "Sign Up" }}
        </button>
      </div>
    </form>
    <p class="description">Have an account already?</p>
    <button class="end" (click)="navigateTo('auth')">Login</button>
  </div>
</ng-template>
