<div class="sidebar-container">
  <p class="route" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</p>
  <p class="route" routerLink="/store" routerLinkActive="active">Store</p>
  <p class="route" routerLink="/widget/weather" routerLinkActive="active">Weather</p>
  <p class="route" routerLink="/widget/news" routerLinkActive="active">News</p>
  <p class="route" routerLink="/widget/stocks" routerLinkActive="active">Stocks</p>
  <p class="route" routerLink="/widget/todo" routerLinkActive="active">Tasks</p>
</div>
