<div class="flex flex-col gap-4 items-center p-4" style="height: 100%;;">
  <div class="flex items-center gap-4 w-80" style="height: 100%;">
    <div class="flex flex-col flex-grow p-4" style="background-color: beige; min-height: 100%; width: 50%;">
      <h2 class="text-center">Books</h2>
      <app-book-list
        class="book-list"
        [books]="(books$ | async)!"
        (add)="onAdd($event)"
      ></app-book-list>
    </div>

    <div class="flex flex-col flex-grow p-4" style="background-color: aqua;min-height: 100%; width: 50%;">
      <h2 class="text-center">My Collection</h2>
      <app-book-collection
        class="book-collection"
        [books]="(bookCollection$ | async)!"
        (remove)="onRemove($event)"
      >
      </app-book-collection>
    </div>
  </div>

  <app-my-counter></app-my-counter>
</div>
