<div class="flex flex-col gap-4">
  <h2>Your Active Orders</h2>
  <button (click)="clearCart()">Clear cart</button>
  <loading-spinner
    *ngIf="isLoadingCart | async; else ActiveOrders"
  ></loading-spinner>
  <ng-template #ActiveOrders>
    <!-- Container for Active Orders -->
    <div class="flex gap-4">
      <ng-container *ngFor="let item of cart">
        <div class="cart-item" *ngIf="item.status !== 'Delivered'">
          <p>{{ item.item.name }}</p>
          <p>{{ item.item.price }} $</p>
          <p>Amount: {{ item.quantity }}</p>
          <p>Status: {{ item.status }}</p>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <h2>Finished Orders</h2>
  <loading-spinner
    *ngIf="isLoadingCart | async; else FinishedOrders"
  ></loading-spinner>
  <ng-template #FinishedOrders>
    <!-- Container for Finished Orders -->
    <div class="flex gap-4">
      <ng-container *ngFor="let item of cart">
        <div class="cart-item finished" *ngIf="item.status === 'Delivered'">
          <p class="food-title">{{ item.item.name }}</p>
          <p class="food-title">{{ item.item.price }} $</p>
          <p class="food-title">Amount: {{ item.quantity }}</p>
          <div class="finished-tag">Done</div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
