<app-account *ngIf="session; else LogInForm" [session]="session"></app-account>

<ng-template #LogInForm>
  <div *ngIf="location === 'auth'" class="row flex-center flex">
    <div class="col-6 form-widget" aria-live="polite">
      <p class="description">Sign in via magic link with your email below</p>
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit('magicLink')"
        class="form-widget"
      >
        <div>
          <label for="email">Email</label>
          <input
            id="email"
            formControlName="email"
            class="inputField"
            type="email"
            placeholder="Your email"
          />
        </div>
        <div class="form-item">
          <label for="password">Password</label>
          <input
            id="password"
            formControlName="password"
            class="passwordField"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter Your password"
          />
          <button type="button" (click)="togglePasswordVisibility()">
            {{ showPassword ? "Hide" : "Show" }}
          </button>
        </div>
        <div>
          <button
            (click)="onSubmit('signIn')"
            type="submit"
            class="button block"
            [disabled]="loading"
          >
            {{ loading ? "Loading" : "Sign In" }}
          </button>
          <button type="submit" class="button block" [disabled]="loading">
            {{ loading ? "Loading" : "Send magic link" }}
          </button>
        </div>
      </form>
      <p>Don't Have an account?</p>
      <button class="end" (click)="navigateTo('register')">Sign up</button>
    </div>
  </div>
  <!-- Register Form -->
  <div *ngIf="location === 'register'" class="flex flex-col" aria-live="polite">
    <p class="description">Sign in via magic link with your email below</p>

    <p class="title">Sign Up</p>
    <form [formGroup]="signInForm" class="form-item">
      <div class="form-item">
        <label for="username">Name</label>
        <input
          id="username"
          formControlName="username"
          class="inputField"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="form-item">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          class="inputField"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          class="passwordField"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Enter Your Password"
        />
        <button type="button" (click)="togglePasswordVisibility()">
          {{ showPassword ? "Hide" : "Show" }}
        </button>
      </div>
      <div>
        <button
          (click)="onSubmit('signUp')"
          type="submit"
          class="button block"
          [disabled]="loading"
        >
          {{ loading ? "Loading" : "Sign Up" }}
        </button>
      </div>
    </form>
    <p>Have an account already?</p>
    <button class="end" (click)="navigateTo('auth')">Login</button>
  </div>
</ng-template>
